<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">MQTT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    <table class="striped">
        <tr>
            <th>Status</th>
            <th>Topic</th>
            <th>Message</th>
            <th>ClientId</th>
            <th>DateTime</th>
        </tr>
        {{#each msg}}
            <tr>
                <td><i class="material-icons icon-green">brightness_1</i></td>
                <td>{{topic}}</td>
                <td>{{message}}</td>
                <td>{{clientId}}</td>
                <td>{{dateTime}}</td>
            </tr>
        {{/each}}
    </table>
</main>
