<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">MQTT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    <table class="striped">
        <tr>
            <th>Topic</th>
            <th>Payload</th>
            <th></th>
            <th></th>
        </tr>
        {{#each resultMap}}
            <tr>
                <td>{{topic}}</td>
                <td>{{payload}}</td>
                <td>{{kq}}</td>
                <td></td>
            </tr>
        {{/each}}
    </table>
</main>
